{
    "extends": ["airbnb", "prettier", "prettier/react"],
    "plugins": ["prettier"],
    "parser": "babel-eslint",
    "globals": {
        "document": true,
        "describe": false,
        "expect": false,
        "jest": false,
        "it": false,
        "window": false,
        "shallow": false,
        "render": false,
        "mount": false
    },
    "rules": {
        "strict": [0, "global"],
        "no-underscore-dangle": 0,
        "import/no-extraneous-dependencies": 0,
        "import/order": [
            "error",
            { "groups": ["builtin", "external", "parent", "sibling", "index"] }
        ],
        "comma-dangle": 0,
        "consistent-return": 0,
        "linebreak-style": 0,
        "prettier/prettier": "error",
        "arrow-parens": 0,
        "function-paren-newline": 0,
        "object-curly-newline": 0,
        "react/jsx-sort-props": [
            2,
            {
                "noSortAlphabetically": false
            }
        ],
        "react/sort-prop-types": 2,
        "react/jsx-filename-extension": [
            2,
            {
                "extensions": [".js", ".jsx"]
            }
        ],
        "jsx-a11y/label-has-for": [
            "error",
            {
                "required": {
                    "some": ["nesting", "id"]
                }
            }
        ],
        "import/no-named-as-default": 0,
        "import/prefer-default-export": 0,
        "implicit-arrow-linebreak": 0,
        "react/jsx-one-expression-per-line": 0,
        "jsx-a11y/label-has-associated-control": [
            "error",
            {
                "required": {
                    "some": ["nesting", "id"]
                }
            }
        ],
        "operator-linebreak": 0,
        "react/destructuring-assignment": 0,
        "react/jsx-closing-tag-location": 0
    }
}
